{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "uglify": true
      }
    }],
    "react",
    "react-hmre",
    "flow"
  ],
  "plugins": ["react-hot-loader/babel"]
}